@import url('https://fonts.googleapis.com/css2?family=Homenaje&family=Montserrat:wght@200;700&display=swap');html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  font-family: Montserrat, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  width: 100%;
}
